<div class="steppers-container row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step [stepControl]="secondForm">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit(secondForm.value)" class="step-container">
              <p class="lorem">
                Input your highlight today!
              </p>
              <div class="input-group">
                <input type="text" placeholder="Ex. Watching Netflix" class="form-control" formControlName="secondCtrl"
                       [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
              </div>
              <button nbButton>Submit</button>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
            <div class="step-container">
              <h3>To-do list added!</h3>
              <button nbButton (click)="stepper.reset()">Add More</button>
              <button nbButton routerLink="../list">Go to List</button>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>
