@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


$nb-themes: nb-register-theme((

  color-primary-100: #FBE0DD,
  color-primary-200: #F8BCBC,
  color-primary-300: #EB959D,
  color-primary-400: #D87588,
  color-primary-500: #BE4B6C,
  color-primary-600: #A33660,
  color-primary-700: #882555,
  color-primary-800: #6E1749,
  color-primary-900: #5B0E42,
  color-primary-transparent-100: rgba(190, 75, 108, 0.08),
  color-primary-transparent-200: rgba(190, 75, 108, 0.16),
  color-primary-transparent-300: rgba(190, 75, 108, 0.24),
  color-primary-transparent-400: rgba(190, 75, 108, 0.32),
  color-primary-transparent-500: rgba(190, 75, 108, 0.4),
  color-primary-transparent-600: rgba(190, 75, 108, 0.48),
  color-success-100: #EDFACF,
  color-success-200: #D7F5A2,
  color-success-300: #B2E16E,
  color-success-400: #8AC347,
  color-success-500: #589B18,
  color-success-600: #448511,
  color-success-700: #326F0C,
  color-success-800: #235907,
  color-success-900: #184A04,
  color-success-transparent-100: rgba(88, 155, 24, 0.08),
  color-success-transparent-200: rgba(88, 155, 24, 0.16),
  color-success-transparent-300: rgba(88, 155, 24, 0.24),
  color-success-transparent-400: rgba(88, 155, 24, 0.32),
  color-success-transparent-500: rgba(88, 155, 24, 0.4),
  color-success-transparent-600: rgba(88, 155, 24, 0.48),
  color-info-100: #D0EBFD,
  color-info-200: #A1D4FB,
  color-info-300: #71B5F4,
  color-info-400: #4D97E9,
  color-info-500: #186CDB,
  color-info-600: #1153BC,
  color-info-700: #0C3E9D,
  color-info-800: #072B7F,
  color-info-900: #041E69,
  color-info-transparent-100: rgba(24, 108, 219, 0.08),
  color-info-transparent-200: rgba(24, 108, 219, 0.16),
  color-info-transparent-300: rgba(24, 108, 219, 0.24),
  color-info-transparent-400: rgba(24, 108, 219, 0.32),
  color-info-transparent-500: rgba(24, 108, 219, 0.4),
  color-info-transparent-600: rgba(24, 108, 219, 0.48),
  color-warning-100: #FCF0CB,
  color-warning-200: #FADD98,
  color-warning-300: #F2C163,
  color-warning-400: #E6A43C,
  color-warning-500: #D67B04,
  color-warning-600: #B86102,
  color-warning-700: #9A4A02,
  color-warning-800: #7C3601,
  color-warning-900: #662800,
  color-warning-transparent-100: rgba(214, 123, 4, 0.08),
  color-warning-transparent-200: rgba(214, 123, 4, 0.16),
  color-warning-transparent-300: rgba(214, 123, 4, 0.24),
  color-warning-transparent-400: rgba(214, 123, 4, 0.32),
  color-warning-transparent-500: rgba(214, 123, 4, 0.4),
  color-warning-transparent-600: rgba(214, 123, 4, 0.48),
  color-danger-100: #FCD7D8,
  color-danger-200: #F9B0B9,
  color-danger-300: #EE869C,
  color-danger-400: #DE648B,
  color-danger-500: #C93673,
  color-danger-600: #AC276C,
  color-danger-700: #901B63,
  color-danger-800: #741158,
  color-danger-900: #600A50,
  color-danger-transparent-100: rgba(201, 54, 115, 0.08),
  color-danger-transparent-200: rgba(201, 54, 115, 0.16),
  color-danger-transparent-300: rgba(201, 54, 115, 0.24),
  color-danger-transparent-400: rgba(201, 54, 115, 0.32),
  color-danger-transparent-500: rgba(201, 54, 115, 0.4),
  color-danger-transparent-600: rgba(201, 54, 115, 0.48)

), custom-theme, default);