<nb-card>
    <table class="table table-striped">
        <thead>
            <th class="checkbox-item-th">Todo List</th>
            <th></th>
        </thead>
        <tr *ngFor="let item of dataList">
            <td>
                <nb-checkbox (checkedChange)="setTodoStat(item._id, item.todoName, $event)" [(ngModel)]="item.isDone"></nb-checkbox>
            <td [ngClass]="{linethrough: item.isDone}">
                {{ item.todoName }}
            </td>
        </tr>
    </table>
</nb-card>